.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

.list-menu__item {
  border: 0 !important;
  background: transparent !important;
  padding: 0;
  min-width: 0;
  width: auto;
  text-decoration: none;
  text-transform: uppercase !important;
  font-size: 1.3rem !important;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
